@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

body {
  font-family: "Playfair Display", serif;
  background: #eeeeee;
  color: #333;
  font-size: 1.2rem;
}

button,
input {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  margin: 0.3rem;
  padding: 0.4rem 1rem;
}

button {
  background: #fafafa;
  border-radius: 10rem;
  cursor: pointer;
  outline: none;
}

/* Todo styling */
.todo {
  padding: 1rem;
}

.todo__completed {
  text-decoration: line-through;
  color: silver;
}
